<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Pariwisata</title>
</head>
<body>
    <h1>Detail Pariwisata</h1>
    <div>
        <h2><%= pariwisata.judul %></h2>
        <img src="/uploads/<%= pariwisata.gambar %>" alt="<%= pariwisata.judul %>" style="max-width: 300px;">
        <p><%= pariwisata.deskripsiGambar %></p>
        <p><%= pariwisata.deskripsi %></p>
    </div>
</body>
</html>
